<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Create user</title>
</head>
<body>
    <form action="#" th:action="@{/admin/user-create}" th:object="${user}" method="post">
        <input type="text" th:field="*{username}" id="username" placeholder="username">
        <label for="username">Enter username</label>
        <br>
        <br>
        <input type="text" th:field="*{surname}" id="surname" placeholder="surname">
        <label for="surname">Enter surname</label>
        <br>
        <br>
        <input type="text" name="age" id="age" placeholder="age">
        <label for="age">Enter age</label>
        <br>
        <br>
        <input type="text" name="password" id="password" placeholder="password">
        <label for="password">Enter password</label>
        <br>
        <br>
        <input type="text" th:field="*{email}" id="email" placeholder="email">
        <label for="email">Enter email</label>
        <br>
        <br>
        <input type="submit" value="Create"/>
    </form>
    <br>
    <form action="#" th:action="@{/admin}" method="get">
        <input type="submit" value="Back"/>
    </form>
    <br>
    <form action="#" th:action="@{/logout}" method="get">
        <input type="submit" value="Logout"/>
    </form>
</body>
</html>