<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update User</title>
</head>
<body>
    <form action="#" th:action="@{/admin/user-update}" th:object="${user}" method="post">
        <input readonly type="number" th:field="*{id}" id="id">
        <label for="id">User id (readonly)</label>
        <br>
        <br>
        <input type="text" th:field="*{username}" id="username"/>
        <label for="username">Enter username: </label>
        <br>
        <br>
        <input type="text" th:field="*{surname}" id="surname">
        <label for="surname">Enter surname:</label>
        <br>
        <br>
        <input type="text" th:field="*{age}" id="age">
        <label for="age">Enter age:</label>
        <br>
        <br>
        <input type="text" th:field="*{password}" id="password">
        <label for="password">Enter password:</label>
        <br>
        <br>
        <input type="text" th:field="*{email}" id="email">
        <label for="email">Enter email:</label>
        <br>
        <br>
        <input type="submit" value="Update"/>
    </form>
    <br>
    <form action="#" th:action="@{/admin}" method="get">
        <input type="submit" value="Back"/>
    </form>
    <br>
    <form action="#" th:action="@{/logout}" method="get">
        <input type="submit" value="Logout"/>
    </form>
</body>
</html>